USE [EduHomeDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 06-Jul-20 00:08:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Abouts]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abouts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [ntext] NOT NULL,
	[Image] [nvarchar](200) NULL,
	[VideoTitle] [nvarchar](200) NOT NULL,
	[VideoLink] [nvarchar](200) NOT NULL,
	[VideoBgImage] [nvarchar](200) NULL,
	[NoticeTitle] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_dbo.Abouts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AboutSlides]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutSlides](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](40) NOT NULL,
	[Content] [nvarchar](300) NOT NULL,
	[Image] [nvarchar](200) NULL,
	[OccupationId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AboutSlides] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](250) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogCatagories]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogCatagories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_dbo.BlogCatagories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Content] [ntext] NOT NULL,
	[Author] [nvarchar](50) NOT NULL,
	[ViewCount] [int] NOT NULL,
	[Image] [nvarchar](200) NULL,
	[CatagoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Blogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](200) NULL,
	[Title] [nvarchar](50) NOT NULL,
	[FirstAddress] [nvarchar](100) NOT NULL,
	[SecondAddress] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseCatagories]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseCatagories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_dbo.CourseCatagories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](70) NOT NULL,
	[Explanation] [nvarchar](600) NOT NULL,
	[Content] [ntext] NOT NULL,
	[CatagoryId] [int] NOT NULL,
	[Image] [nvarchar](200) NULL,
	[StartDate] [datetime] NOT NULL,
	[Duration] [int] NOT NULL,
	[ClassDuration] [int] NOT NULL,
	[SkillLevel] [nvarchar](30) NOT NULL,
	[Language] [nvarchar](20) NOT NULL,
	[StudentCount] [int] NOT NULL,
	[Assesments] [nvarchar](30) NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_dbo.Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventCatagories]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventCatagories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_dbo.EventCatagories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](200) NULL,
	[Title] [nvarchar](150) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[Venue] [nvarchar](150) NOT NULL,
	[Content] [ntext] NOT NULL,
	[CatagoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Events] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Headers]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Headers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Image] [nvarchar](200) NULL,
	[Page] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Headers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomeSlides]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeSlides](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Content] [nvarchar](300) NOT NULL,
	[Image] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.HomeSlides] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
	[Subject] [nvarchar](70) NOT NULL,
	[Content] [nvarchar](500) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notices]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[Content] [nvarchar](400) NOT NULL,
 CONSTRAINT [PK_dbo.Notices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Occupations]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Occupations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Occupations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Logo] [nvarchar](200) NULL,
	[NavbarPhone] [nvarchar](20) NOT NULL,
	[BgImage] [nvarchar](200) NULL,
	[Content] [nvarchar](400) NOT NULL,
	[Copyright] [nvarchar](50) NOT NULL,
	[FistAddress] [nvarchar](70) NOT NULL,
	[SecondAddress] [nvarchar](70) NULL,
	[FirstPhone] [nvarchar](20) NOT NULL,
	[SecondPhone] [nvarchar](20) NULL,
	[Email] [nvarchar](30) NOT NULL,
	[SidebarImage] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Settings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SettingSocials]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SettingSocials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NULL,
	[Icon] [nvarchar](100) NOT NULL,
	[Link] [nvarchar](100) NOT NULL,
	[SettingId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SettingSocials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Socials]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Socials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NULL,
	[Icon] [nvarchar](100) NOT NULL,
	[Link] [nvarchar](150) NOT NULL,
	[TeacherId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Socials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpeakerEvents]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpeakerEvents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[SpeakerId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SpeakerEvents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Speakers]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Speakers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](200) NULL,
	[OccupationId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Speakers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscribes]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscribes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Subscribes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](50) NOT NULL,
	[Content] [ntext] NOT NULL,
	[Image] [nvarchar](200) NULL,
	[Email] [nvarchar](30) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Skype] [nvarchar](30) NOT NULL,
	[Language] [int] NOT NULL,
	[TeamLeader] [int] NOT NULL,
	[Development] [int] NOT NULL,
	[Design] [int] NOT NULL,
	[Innovation] [int] NOT NULL,
	[Communication] [int] NOT NULL,
	[OccupationId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Teachers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06-Jul-20 00:08:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Surname] [nvarchar](30) NOT NULL,
	[Username] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](250) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[AddedDate] [datetime] NOT NULL,
	[Image] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Abouts] ON 

SET IDENTITY_INSERT [dbo].[Abouts] OFF
SET IDENTITY_INSERT [dbo].[AboutSlides] ON 

INSERT [dbo].[AboutSlides] ([Id], [Fullname], [Content], [Image], [OccupationId]) VALUES (7, N'David Morgan', N'I must explain to you how all this mistaken idea of denoung pleure and praising pain was born and I will give you a coete account of the system, and expound the actual', N'04072020204514566testimonial.jpg', 12)
SET IDENTITY_INSERT [dbo].[AboutSlides] OFF
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [Fullname], [Username], [Password], [AddedDate]) VALUES (1, N'cavid elieyv', N'cavid', N'ABs6W2e8f3b/oVhVRPY6SI881teJNH8p4Takq/NYA4SbIxQPcwBNMSQGmJyVN8q65w==', CAST(N'2020-07-04T00:00:00.000' AS DateTime))
INSERT [dbo].[Admins] ([Id], [Fullname], [Username], [Password], [AddedDate]) VALUES (2, N'qasim elieyv', N'qasim', N'AIcppZSwRlq8JXX/3qJp0AXCOoYufs0+lRuIc5BP5lCjK92QybzHCCwPbXLyako9Xw==', CAST(N'2020-07-04T00:00:00.000' AS DateTime))
INSERT [dbo].[Admins] ([Id], [Fullname], [Username], [Password], [AddedDate]) VALUES (3, N'resid caniyev', N'resid', N'AGwYHbFD/o09uzDwm9mP682pWBWY/VnabnoWBVyYouhOrFMfZ3VIDkfiFRzlB7AoEw==', CAST(N'2020-07-04T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET IDENTITY_INSERT [dbo].[BlogCatagories] ON 

INSERT [dbo].[BlogCatagories] ([Id], [Name]) VALUES (9, N'Education News')
INSERT [dbo].[BlogCatagories] ([Id], [Name]) VALUES (10, N'Technology')
INSERT [dbo].[BlogCatagories] ([Id], [Name]) VALUES (11, N'Learning ')
SET IDENTITY_INSERT [dbo].[BlogCatagories] OFF
SET IDENTITY_INSERT [dbo].[Blogs] ON 

SET IDENTITY_INSERT [dbo].[Blogs] OFF
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [Image], [Title], [FirstAddress], [SecondAddress]) VALUES (5, N'03072020014655796contact1.png', N'Address', N'135, First Lane, City Street', N'New Yourk City, USA')
INSERT [dbo].[Contacts] ([Id], [Image], [Title], [FirstAddress], [SecondAddress]) VALUES (6, N'03072020014729337contact2.png', N'Address', N'135, First Lane, City Street', N'City, Roadno 785 New York')
INSERT [dbo].[Contacts] ([Id], [Image], [Title], [FirstAddress], [SecondAddress]) VALUES (7, N'03072020014741837contact3.png', N'Address', N'135, First Lane, City Street', N'City, Roadno 785 New York')
SET IDENTITY_INSERT [dbo].[Contacts] OFF
SET IDENTITY_INSERT [dbo].[CourseCatagories] ON 

INSERT [dbo].[CourseCatagories] ([Id], [Name]) VALUES (7, N'CSS Engineering')
INSERT [dbo].[CourseCatagories] ([Id], [Name]) VALUES (8, N'Political Science')
INSERT [dbo].[CourseCatagories] ([Id], [Name]) VALUES (9, N'Micro Biology')
SET IDENTITY_INSERT [dbo].[CourseCatagories] OFF
SET IDENTITY_INSERT [dbo].[Courses] ON 

SET IDENTITY_INSERT [dbo].[Courses] OFF
SET IDENTITY_INSERT [dbo].[EventCatagories] ON 

INSERT [dbo].[EventCatagories] ([Id], [Name]) VALUES (9, N'CSS Engineering')
INSERT [dbo].[EventCatagories] ([Id], [Name]) VALUES (10, N'Political Science')
INSERT [dbo].[EventCatagories] ([Id], [Name]) VALUES (11, N'Micro Biology')
SET IDENTITY_INSERT [dbo].[EventCatagories] OFF
SET IDENTITY_INSERT [dbo].[Events] ON 

SET IDENTITY_INSERT [dbo].[Events] OFF
SET IDENTITY_INSERT [dbo].[Headers] ON 

INSERT [dbo].[Headers] ([Id], [Title], [Image], [Page]) VALUES (1, N'ABOUT US', N'04072020145626322banner.jpg', N'About')
INSERT [dbo].[Headers] ([Id], [Title], [Image], [Page]) VALUES (2, N'COURSES', N'04072020145705870banner.jpg', N'Course')
INSERT [dbo].[Headers] ([Id], [Title], [Image], [Page]) VALUES (3, N'EVENT', N'04072020145731469banner.jpg', N'Event')
SET IDENTITY_INSERT [dbo].[Headers] OFF
SET IDENTITY_INSERT [dbo].[HomeSlides] ON 

INSERT [dbo].[HomeSlides] ([Id], [Title], [Content], [Image]) VALUES (4, N'EDUCATION MAKES HUMANITY ', N'I must explain to you how all this mistaken idea of denouncing pleasure and prsing pain was born and I will give you a complete account of the system  ', N'05072020164741716slider2.jpg')
INSERT [dbo].[HomeSlides] ([Id], [Title], [Content], [Image]) VALUES (5, N'EDUCATION MAKES HUMANITY ', N'Yaygın inancın tersine, Lorem Ipsum rastgele sözcüklerden oluşmaz. Kökleri M.Ö. 45 tarihinden bu yana klasik Latin edebiyatına ', N'05072020164942405slider3.jpg')
INSERT [dbo].[HomeSlides] ([Id], [Title], [Content], [Image]) VALUES (6, N'Delicious Treats, Good Eats', N'Lorem Ipsum Nedir? Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının birz', N'05072020165125561slider1.jpg')
SET IDENTITY_INSERT [dbo].[HomeSlides] OFF
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([Id], [Name], [Email], [Subject], [Content], [AddedDate]) VALUES (3, N'qasim', N'ssaf@mail.com', N'qasimmmmaas ssi', N'ifsdfsodif sdoifjsodifj sdoifj sodifj sdflksdf sdifjdifj sdfl', CAST(N'2020-05-05T00:00:00.000' AS DateTime))
INSERT [dbo].[Messages] ([Id], [Name], [Email], [Subject], [Content], [AddedDate]) VALUES (4, N'zakir', N'zakie@mail.com', N'asdialsnd ', N'nfduifh osdhfiohoihsd oaiishas oashfh8ehash aosih asoidh asdoihasod8ahshd aoh ', CAST(N'2021-07-08T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Messages] OFF
SET IDENTITY_INSERT [dbo].[Notices] ON 

INSERT [dbo].[Notices] ([Id], [AddedDate], [Content]) VALUES (8, CAST(N'2020-07-04T00:00:00.000' AS DateTime), N'I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete')
INSERT [dbo].[Notices] ([Id], [AddedDate], [Content]) VALUES (11, CAST(N'2020-05-05T00:00:00.000' AS DateTime), N'I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete	')
INSERT [dbo].[Notices] ([Id], [AddedDate], [Content]) VALUES (12, CAST(N'2018-04-06T00:00:00.000' AS DateTime), N'I must explain to you how all this mistaken idea of denouncing plasure and praising pain was born and I will give you a complete')
SET IDENTITY_INSERT [dbo].[Notices] OFF
SET IDENTITY_INSERT [dbo].[Occupations] ON 

INSERT [dbo].[Occupations] ([Id], [Name]) VALUES (11, N'Associate Professor')
INSERT [dbo].[Occupations] ([Id], [Name]) VALUES (12, N'Student, CSE')
INSERT [dbo].[Occupations] ([Id], [Name]) VALUES (13, N'CEO, Hastech')
SET IDENTITY_INSERT [dbo].[Occupations] OFF
SET IDENTITY_INSERT [dbo].[Settings] ON 

SET IDENTITY_INSERT [dbo].[Settings] OFF
SET IDENTITY_INSERT [dbo].[SettingSocials] ON 

INSERT [dbo].[SettingSocials] ([Id], [Name], [Icon], [Link], [SettingId]) VALUES (3, N'facebook', N'zmdi zmdi-facebook', N'facebook.com', 2)
INSERT [dbo].[SettingSocials] ([Id], [Name], [Icon], [Link], [SettingId]) VALUES (5, NULL, N'zmdi zmdi-pinterest', N'facebook.com', 2)
INSERT [dbo].[SettingSocials] ([Id], [Name], [Icon], [Link], [SettingId]) VALUES (6, NULL, N'zmdi zmdi-vimeo', N'youtube.com', 2)
SET IDENTITY_INSERT [dbo].[SettingSocials] OFF
SET IDENTITY_INSERT [dbo].[Socials] ON 

INSERT [dbo].[Socials] ([Id], [Name], [Icon], [Link], [TeacherId]) VALUES (14, N'facebook', N'zmdi zmdi-facebook', N'facebook.com', 5)
INSERT [dbo].[Socials] ([Id], [Name], [Icon], [Link], [TeacherId]) VALUES (15, N'vime', N'zmdi zmdi-pinterest', N'youtube.com', 5)
INSERT [dbo].[Socials] ([Id], [Name], [Icon], [Link], [TeacherId]) VALUES (16, N'insta', N'zmdi zmdi-vimeo', N'instagram.com', 5)
SET IDENTITY_INSERT [dbo].[Socials] OFF
SET IDENTITY_INSERT [dbo].[SpeakerEvents] ON 

INSERT [dbo].[SpeakerEvents] ([Id], [EventId], [SpeakerId]) VALUES (13, 11, 9)
INSERT [dbo].[SpeakerEvents] ([Id], [EventId], [SpeakerId]) VALUES (14, 12, 10)
INSERT [dbo].[SpeakerEvents] ([Id], [EventId], [SpeakerId]) VALUES (15, 13, 9)
SET IDENTITY_INSERT [dbo].[SpeakerEvents] OFF
SET IDENTITY_INSERT [dbo].[Speakers] ON 

INSERT [dbo].[Speakers] ([Id], [Fullname], [Image], [OccupationId]) VALUES (9, N'Anthony Smith', N'05072020024225823speaker1.jpg', 13)
INSERT [dbo].[Speakers] ([Id], [Fullname], [Image], [OccupationId]) VALUES (10, N'Lucy Rose', N'05072020024247139speaker2.jpg', 14)
SET IDENTITY_INSERT [dbo].[Speakers] OFF
SET IDENTITY_INSERT [dbo].[Subscribes] ON 

INSERT [dbo].[Subscribes] ([Id], [Email], [AddedDate]) VALUES (4, N'dfsdfsd', CAST(N'2020-05-05T00:00:00.000' AS DateTime))
INSERT [dbo].[Subscribes] ([Id], [Email], [AddedDate]) VALUES (6, N'asdsadf', CAST(N'2020-05-08T00:00:00.000' AS DateTime))
INSERT [dbo].[Subscribes] ([Id], [Email], [AddedDate]) VALUES (7, N'sdfsdf@sfsd', CAST(N'2020-07-05T23:12:41.817' AS DateTime))
SET IDENTITY_INSERT [dbo].[Subscribes] OFF
SET IDENTITY_INSERT [dbo].[Teachers] ON 

SET IDENTITY_INSERT [dbo].[Teachers] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Surname], [Username], [Email], [Password], [Phone], [AddedDate], [Image]) VALUES (6, N's', N's', N's', N'sdf@xcxx', N'APwGkYPEz2jxtE16jfHl40kaTB6qEYOzLlt5SR7ni8Jds3uEI12f7h7niWHm2JuXug==', N'sdfdsf', CAST(N'2020-07-05T00:00:00.000' AS DateTime), N'05072020202939272teacher9.jpg')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [StartDate]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [Duration]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [ClassDuration]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ('') FOR [SkillLevel]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ('') FOR [Language]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [StudentCount]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[AboutSlides]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AboutSlides_dbo.Occupations_OccupationId] FOREIGN KEY([OccupationId])
REFERENCES [dbo].[Occupations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AboutSlides] CHECK CONSTRAINT [FK_dbo.AboutSlides_dbo.Occupations_OccupationId]
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Blogs_dbo.BlogCatagories_CatagoryId] FOREIGN KEY([CatagoryId])
REFERENCES [dbo].[BlogCatagories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_dbo.Blogs_dbo.BlogCatagories_CatagoryId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Courses_dbo.CourseCatagories_CatagoryId] FOREIGN KEY([CatagoryId])
REFERENCES [dbo].[CourseCatagories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_dbo.Courses_dbo.CourseCatagories_CatagoryId]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Events_dbo.EventCatagories_CatagoryId] FOREIGN KEY([CatagoryId])
REFERENCES [dbo].[EventCatagories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_dbo.Events_dbo.EventCatagories_CatagoryId]
GO
ALTER TABLE [dbo].[SettingSocials]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SettingSocials_dbo.Settings_SettingId] FOREIGN KEY([SettingId])
REFERENCES [dbo].[Settings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SettingSocials] CHECK CONSTRAINT [FK_dbo.SettingSocials_dbo.Settings_SettingId]
GO
ALTER TABLE [dbo].[Socials]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Socials_dbo.Teachers_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Socials] CHECK CONSTRAINT [FK_dbo.Socials_dbo.Teachers_TeacherId]
GO
ALTER TABLE [dbo].[SpeakerEvents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpeakerEvents_dbo.Events_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpeakerEvents] CHECK CONSTRAINT [FK_dbo.SpeakerEvents_dbo.Events_EventId]
GO
ALTER TABLE [dbo].[SpeakerEvents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpeakerEvents_dbo.Speakers_SpeakerId] FOREIGN KEY([SpeakerId])
REFERENCES [dbo].[Speakers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpeakerEvents] CHECK CONSTRAINT [FK_dbo.SpeakerEvents_dbo.Speakers_SpeakerId]
GO
ALTER TABLE [dbo].[Speakers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Speakers_dbo.Occupations_OccupationId] FOREIGN KEY([OccupationId])
REFERENCES [dbo].[Occupations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Speakers] CHECK CONSTRAINT [FK_dbo.Speakers_dbo.Occupations_OccupationId]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Teachers_dbo.Occupations_OccupationId] FOREIGN KEY([OccupationId])
REFERENCES [dbo].[Occupations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_dbo.Teachers_dbo.Occupations_OccupationId]
GO
